.main-aplication,
.main-aplication * {
  box-sizing: border-box;
}
.main-aplication {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1015px;
  position: relative;
}
.upper-header {
  background: rgba(50, 47, 47, 0.8);
  padding: 14px 38px 14px 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.logo-box {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.retangles-logo {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 9.45px;
  height: 29.07px;
  position: relative;
}
.rectangle-5 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 9.45px;
  height: 18.5px;
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.d-2-p {
  color: #f5f5f5;
  text-align: left;
  font: 700 22px "Inter", sans-serif;
  position: relative;
  width: 60.77px;
  height: 23.79px;
}
.data-to-modeling {
  color: #ffffff;
  text-align: left;
  font: 700 12px "Inter", sans-serif;
  position: relative;
  width: 135.04px;
  height: 13.21px;
}
.website-body {
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.side-menu {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.side-menu-tabs {
  padding: 47px 0px 59px 22px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 244px;
  position: relative;
}
.frame-svg-selected-tab {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.time-series-button-dash {
  border-radius: 25px 0px 0px 25px;
  padding: 0px 40px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  background-color: transparent;
}
.icon-time-series {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.time-series {
  color: #f5f5f5;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  width: 123px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.data-reg-button-dash {
  border-radius: 25px 0px 0px 25px;
  padding: 0px 35px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  background-color: transparent;

}
.icon-data-reg {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.data-regression {
  color: #f5f5f5;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  width: 123px;
  height: 50px;
}
.clustering-button-dash {
  border-radius: 25px 0px 0px 25px;
  padding: 0px 40px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  overflow: hidden;
  background-color: transparent;

}
.icon-clustering {
  flex-shrink: 0;
  width: 21px;
  height: 24px;
  position: static;
}
.yeloow {
  background: #feba08;
  border-radius: 12px;
  width: 9.55px;
  height: 10.91px;
  position: absolute;
  left: 29.45px;
  top: 31.09px;
}
.blue {
  background: #05a6f0;
  width: 9.55px;
  height: 10.91px;
  position: absolute;
  left: 18px;
  top: 31.09px;
}
.green {
  background: #80bc06;
  width: 21px;
  height: 11px;
  position: absolute;
  left: 18px;
  top: 18px;
}
.red {
  background: #f25325;
  width: 9.55px;
  height: 10.91px;
  position: absolute;
  left: 18px;
  top: 18px;
}
.clustering {
  color: #f5f5f5;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  width: 123px;
  height: 17px;
}
.neural-net-button-dash {
  border-radius: 25px 0px 0px 25px;
  padding: 0px 30px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  background-color: transparent;

}
.icon-neural-network {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.neural-network {
  color: #f5f5f5;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  width: 128px;
  height: 45px;
}
.img-recogn-button-dash {
  border-radius: 25px 0px 0px 25px;
  padding: 0px 33px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  background-color: transparent;

}
.icon-img-recognition {
  flex-shrink: 0;
  width: 21px;
  height: 24px;
  position: static;
}
.yeloow2 {
  background: #feba08;
  border-radius: 12px;
  width: 21px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 18px;
}
.blue2 {
  background: rgba(5, 166, 240, 0.05);
  width: 9.55px;
  height: 10.91px;
  position: absolute;
  left: 20px;
  top: 31.09px;
}
.green2 {
  background: #f25325;
  width: 21px;
  height: 11px;
  position: absolute;
  left: 20px;
  top: 18px;
}
.red2 {
  background: #f25325;
  width: 9.55px;
  height: 10.91px;
  position: absolute;
  left: 20px;
  top: 18px;
}
.image-recognition {
  color: #f5f5f5;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  width: 128px;
  height: 47px;
}
.frame-6 {
  background: #3a2ec8;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.side-tabs-result {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: auto;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
